<div class="login">
    <div class="login__container">
        <h1 class="login__title">Company</h1>
        <h1 class="login__title">Inicia sesión en tu cuenta</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">
            <div class="login__field">
                <label for="email" class="login__label">Correo electrónico</label>
                <input id="email" type="email" formControlName="email" class="login__input"
                    placeholder="Introduce tu correo" required />
                @if(email?.invalid && email?.touched){
                <div class="color-error-texts">
                    @if(email?.errors?.['required']){
                    <small>Email is required</small>
                    }
                    @if(email?.errors?.['email']){
                    <small>Invalid email format</small>
                    }
                </div>
                }
            </div>
            <div class="login__field">
                <label for="password" class="login__label">Contraseña</label>
                <input id="password" formControlName="password" type="password" class="login__input"
                    placeholder="Introduce tu contraseña" required />
                @if(password?.invalid && password?.touched){
                <div class="color-error-texts">
                    @if(password?.errors?.['required']){
                    <small>Password is required</small>
                    }
                    @if(password?.errors?.['minlength']){
                    <small>Passowrd minimun lenght is six</small>
                    }
                </div>
                }
            </div>

            <button type="submit" class="login__button">Iniciar sesión</button>
        </form>

        <div class="login__options">
            <a class="login__options__link">¿No puedes iniciar sesión?</a>
            <span class="login__options__separator">·</span>
            <a href="#" class="login__options__link" [routerLink]="['/signup']">Crear una cuenta</a>
        </div>
    </div>
</div>