@import "../../styles/variables";

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: $color-purple;
  color: $color-white;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}
