<header class="header">
    <div class="header__container">
        <div class="header__left">
            <span class="material-icons">menu</span> 
            <a href="#" class="header__logo">Company</a>
            <app-custome-dorpdown title="Workspaces">
                <app-dropdown-workspaces></app-dropdown-workspaces>
            </app-custome-dorpdown>
            <app-custome-dorpdown title="Recent">
                <app-dropdown-recent-workspace></app-dropdown-recent-workspace>
            </app-custome-dorpdown>
            <app-custome-dorpdown title="Crear">
                <app-dropdown-new-board />
            </app-custome-dorpdown>
        </div>
        <div class="header__right">
            <app-custome-avatar/>
        </div>
    </div>
</header>