<header class="header">
    <div class="header__container">
        <div class="header__left">
            <a href="#" class="header__logo">Company</a>
            <app-custome-dorpdown title="Workspaces">
                <app-dropdown-workspaces></app-dropdown-workspaces>
            </app-custome-dorpdown>
            <app-custome-dorpdown title="Recent" />
            <app-custome-dorpdown title="Crear">
                <app-dropdown-new-board/>
            </app-custome-dorpdown>
        </div>
        <div class="header__right">
            <div>Avatar</div>
        </div>
    </div>
</header>