<header class="header">
    <div class="header__container">
        <div class="header__left">
            <a href="#" class="header__logo">MiLogo</a>
            <app-custome-dorpdown />
            <nav class="header__nav">
                <a href="#" class="header__nav-link">Inicio</a>
                <a href="#" class="header__nav-link">Servicios</a>
                <a href="#" class="header__nav-link">Contacto</a>
            </nav>
        </div>
        <div class="header__right">
            <div>Avatar</div>
        </div>
    </div>
</header>