@import "../../styles/variables";
@import "../../styles/mixins";

.dropdown__workspace {
  color: $color-text;
  padding: $spacing-large;
  &__item {
    cursor: pointer;
    margin-top: $spacing-large;
  }
}
