@import "../../styles/variables";
@import "../../styles/mixins";

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-background;

  &__container {
    background-color: $color-white;
    padding: $spacing-xlarge;
    @include border-radius($border-radius-large);
    @include box-shadow;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
}
