<div class="sidenav">
    <div class="sidenav__section">
        <div class="sidenav__item sidenav__item--active">
            <div class="sidenav__icon">T</div>
            <span class="sidenav__text">Boards</span>
        </div>
        <div class="sidenav__item">
            <div class="sidenav__icon">T</div>
            <span class="sidenav__text">Templates</span>
        </div>
        <div class="sidenav__item">
            <div class="sidenav__icon">H</div>
            <span class="sidenav__text">Home</span>
        </div>
    </div>

    <div class="sidenav__divider"></div>

    <div class="sidenav__section">
        <div class="sidenav__title">Workspaces</div>
        <div class="sidenav__item">
            <div class="sidenav__icon">G</div>
            <span class="sidenav__text">gabrielmontoya...</span>
        </div>
        <div class="sidenav__item">
            <div class="sidenav__icon">R</div>
            <span class="sidenav__text">renatomontoya...</span>
        </div>

        <app-custom-accordion title="Workspaces">
            <div class="sidenav__item">
                <div class="sidenav__icon">boards</div>
                <span class="sidenav__text">boards</span>
            </div>
            <div class="sidenav__item">
                <div class="sidenav__icon">+</div>
                <span class="sidenav__text">highlights</span>
            </div>
            <div class="sidenav__item">
                <div class="sidenav__icon">+</div>
                <span class="sidenav__text">views</span>
            </div>
            <div class="sidenav__item">
                <div class="sidenav__icon">+</div>
                <span class="sidenav__text">users</span>
            </div>
            <div class="sidenav__item">
                <div class="sidenav__icon">+</div>
                <span class="sidenav__text">settings</span>
            </div>
        </app-custom-accordion>
    </div>
</div>