<div class="create-board__container">
    <div class="create-board__header">
      <h2 class="create-board__title">Create new board</h2>
      <span class="create-board__close">&times;</span>
    </div>
    
    <input type="text" class="create-board__input" placeholder="Ingresa el título">
    
    <button class="create-board__button">Crear board</button>
    
    <div class="create-board__color-options">
      <div class="create-board__color-option create-board__color-option--blue"></div>
      <div class="create-board__color-option create-board__color-option--green"></div>
      <div class="create-board__color-option create-board__color-option--purple"></div>
      <div class="create-board__color-option create-board__color-option--yellow"></div>
    </div>
  </div>