<!-- <div class="dropdown__workspace">
    <div class="dropdown__workspace__item">
        <div class="dropdown__workspace__item__icon"></div>
        <div class="dropdown__workspace__item__info">
            <div class="dropdown__workspace__item__info__title">Prueba</div>
            <div class="dropdown__workspace__item__info__subtitle">gabrielmonteo&#64;gmail.com</div>
        </div>
    </div>
</div> -->

<div class="dropdown">
    <div class="workspace">
      <div class="workspace__item">
        <div class="workspace__icon"></div>
        <div class="workspace__info">
          <div class="workspace__title">Prueba</div>
          <div class="workspace__subtitle">gabrielmonteo&#64;gmail.com</div>
        </div>
      </div>
    </div>
  </div>
  