/* @import "../../styles/variables";
@import "../../styles/mixins";

.dropdown__workspace {
  color: $color-text;
  padding: $spacing-large;
  &__item {
    cursor: pointer;
    margin-top: $spacing-large;
    display: flex;
    flex-direction: row;
    &__icon {
      background-color: red;
      min-width: 40px;
      min-height: 40px;
      border-radius: $border-radius-large;
      margin-right: $spacing-small;
    }
    &__info {
      display: flex;
      flex-direction: column;
      &__title{
        font-weight: $font-weight-bold;
      }
      &__subtitle{
      
      }
    }
  }
}
 */

@import "../../styles/variables";
@import "../../styles/mixins";

// Estilos para el bloque `dropdown`
.dropdown {
  padding: $spacing-large;
}

// Estilos para el bloque `workspace`
.workspace {
  color: $color-text;

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }

  &__icon {
    background-color: $color-purple;
    min-width: 40px;
    min-height: 40px;
    border-radius: $border-radius-large;
    margin-right: $spacing-small;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: $font-weight-bold;
  }

  &__subtitle {
    // Aquí puedes agregar más estilos si es necesario
  }
}
